@font-face {
  font-family: 'Aeonik';
  src: url('./AeonikTRIAL-Regular.otf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('./Helvetica.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./Helvetica-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Neue Grotesk';
  src: url('./NeueHaasDisplayRoman.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Neue Grotesk';
  src: url('./NeueHaasDisplayLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Oswald';
  src: url('./Oswald-Bold.ttf');
}